	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/01/2018 07:38
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  	font-family: Flaticon;
    font-size: 50px;
	font-style: normal;
	margin-left: 0px;
}

.flaticon-desayuno:before { content: "\f100"; }
.flaticon-dinner:before { content: "\f101"; }
.flaticon-desert:before { content: "\f102"; }
.flaticon-coffee:before { content: "\f103"; }